@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

@layer components {
  .typing:after {
    content: "_";
    @apply text-gray-200;
    animation: blink 1s step-start infinite;
  }
  .links {
    @apply hover:scale-110;
  }
  .navbar {
    @apply lg:hidden transform duration-300 origin-top
    absolute right-0 w-1/2;
  }
  .wrapper {
    @apply flex items-center;
  }
  .card {
    @apply grid place-items-center w-full h-screen90 shadow-2xl text-gray-600 bg-prim1 rounded-3xl;
  }
  .theme-modal {
    @apply shadow-md z-20 fixed lg:rounded-b-none inset-x-0.5 md:inset-x-6 
     lg:w-1/2 h-1/2 md:h-2/4 bg-gray-200 duration-500 ease-in-out 
    rounded-t-3xl md:rounded-3xl p-10;
  }
  .button {
    @apply p-0.5 shadow-lg rounded border border-highl text-sec ring-white ring-1 active:scale-105 hover:ring-offset-2;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
}
@layer utilities {
  .fixed {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
  }
  @layer base {
    html {
      height: 100%;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      -webkit-tap-highlight-color: transparent;
    }
  }
}
